button {
  min-height: 48px;
  // disabled because most buttons are flex:1 and this is unnecessary.  both makes them width:48px when wrapping.
  //min-width: 48px;
  // disabled because this makes it less visually appealing when there is space for it
  //padding: 0;

  &[data-active="true"] {
    //background: hsl(220, 100%, 38%);
    //color: white;
    filter: invert(1);
    font-weight: bolder;
  }
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;

  .teams {
    flex: 1;
  }
}

.game-periods-periods, .game-period-states {
  display: flex;

  > * {
    flex: 1;
  }
}

.game-period-time {
  text-align: center;
  font-size: xx-large;
}

.game-period-kickoff[data-team="2"] {
  text-align: right;
}

.teams {
  display: flex;

  > * {
    flex: 1;
  }
}

.team {
  &[data-team-index="1"] {
    background: red;
  }

  &[data-team-index="2"] {
    background: blue;
  }
}

.team-header {
  display: flex;
  justify-content: space-evenly;
  line-height: 48px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);

  [data-team-index="2"] & {
    flex-direction: row-reverse;
  }
}

.team-icon {
  max-width: 48px;
  max-height: 48px;
}

.team-score {
  min-width: 48px;
}

.team-actions {
  display: flex;
  flex-wrap: wrap;

  [data-team-index="2"] & {
    flex-direction: row-reverse;
  }

  > * {
    flex: 1;
  }
}

.players {
  display: flex;

  [data-team-index="2"] & {
    flex-direction: row-reverse;
  }

  > * {
    flex: 1;
  }
}

.player-actions, .players-players {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}

.player {
  display: flex;
  align-items: center;

  [data-team-index="2"] & {
    flex-direction: row-reverse;
  }
}

.player-player {
  min-width: 48px;
  flex: 1;
  opacity: 0.9;
}

.player-card, .player-goalkeeper {
  min-width: 48px;
  opacity: 0.9;
}

.player-goalkeeper [data-active="false"] {
  opacity: 0.5;
}

.player-card-red {
  background: red;
}

.player-card-red[data-value="0"] {
  background: pink;
}

.player-card-yellow {
  background: yellow;
}

.player-card-yellow[data-value="0"] {
  background: lightyellow;
}

.player-card-green {
  background: green;
}

.player-card-green[data-value="0"] {
  background: lightgreen;
}
